{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Blog++
{% endblock page_title %}
{% block css_file %}
    <link rel='stylesheet' href={% static 'blogs/index.css' %}>
{% endblock css_file %}
{% block content %}
    <header id='main-navigation'>
        <h1>
            <a href=''>Blog++</a>
        </h1>
        <nav>
            <a href={% url 'posts' %}>All Posts</a>
        </nav>
    </header>
    <section id='welcome'>
        <header>
            <img src='' alt='Muhammed - The author of this site'>
            <h2>Muhammed's Blog</h2>
        </header>
        <p>
            Hello, I am Muhammed and I love to blog about tech!
        </p>
    </section>
    <section id='latest-posts'>
        <h2>My Latest Thoughts</h2>
        <ul>
            <li>
                <article class='post'>
                    <a href="">
                        <img src="" alt="Mountain Hiking" />
                        <div class='post__content'>
                            <h3>Mountain Hiking</h3>
                            <p>
                                There's nothing like the views you get when hiking in the
                                mountains! And I wasn't even prepared for what happened whilst I
                                was enjoying the view!
                            </p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    <section id="about">
        <h2>What I Do</h2>
        <p>
            I am a developer at bld.ai
        </p>
        <p>
            My goal is to learn django and react-native and
            practice till i become the best in the company
        </p>
    </section>
{% endblock content %}
