#main-navigation {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);  
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#read-later-posts{
    margin: 7rem auto;
}